/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #000000;
}

/* Container principal para layout flexível */
.main-container {
    display: flex;
    min-height: 100vh; /* Garante que o container ocupe a altura total da janela */
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
}

.sidebar h2 {
    color: #ff9bb1;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar a {
    display: block;
    color: #333;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

/* .sidebar a:hover {
    background-color: #ff9bb1;
    color: #fff;
} */

.sidebar a.active {
    background-color: #ff9bb1;
    color: #fff;
}

/* Conteúdo Principal */
.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 270px;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffdee3;
}

.navbar .search-container {
    display: flex;
    align-items: center;
}

.navbar form {
    display: flex;
}

.navbar input[type="text"] {
    padding: 10px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #ff9bb1;
    outline: none;
}

.navbar button {
    padding: 10px 20px;
    border: 1px solid #ff9bb1;
    border-radius: 0 15px 15px 0;
    background-color: #ff9bb1;
    color: white;
    cursor: pointer;
    border-left: none;
    transition: background 0.3s;
}

.navbar button:hover {
    background-color: #ff7a96;
}

.container {
    padding: 20px;
}

.container a {
    display: block;
    margin-bottom: 15px;
    color: #ff9bb1;
    text-decoration: none;
    font-weight: bold;
}

/* Estilização da Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px; /* Bordas arredondadas para a tabela */
    overflow: hidden; /* Garante que as bordas arredondadas funcionem */
}

table th, table td {
    padding: 15px;
    text-align: left;
    color: #000000;
}

table th {
    background-color: #ff9bb1;
    color: white;
}

table td {
    background-color: #ffe6ea;
}

table tr:nth-child(even) td {
    background-color: #ffd7dd;
}

table tr:hover {
    background-color: #ffdee3;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
    }
}
