body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #ffdee3;
}

header img {
    height: 70px;
}

header input[type="text"] {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ff9bb1;
}

header .welcome {
    color: #ffffff;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.agenda {
    width: 60%;
    background-color: #ffdee3;
    border-radius: 15px;
    padding: 20px;
}

.agenda h2 {
    color: #ff9bb1;
    border-bottom: 2px solid #ff9bb1;
    padding-bottom: 5px;
}

.agenda table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.agenda table th, .agenda table td {
    padding: 10px;
    text-align: left;
    color:#ffffff
}

.agenda table th {
    background-color: #ff9bb1;
    color: white;
    border-radius: 15px 15px 0 0;
}

.agenda table td {
    background-color: #ffe6ea;
    color: #ff9bb1;
}

.agenda .add-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff9bb1;
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.side-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-buttons .button {
    background-color: #ff9bb1;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
}

.side-buttons .button:hover {
    background-color: #ff7a96;
}